:root {
  --bs-link-color: #00b0b0;
  --bs-link-color-rgb: 0, 176, 176;
  --bs-link-hover-color: #006969;
  --bs-link-hover-color-rgb: 0, 105, 105;
}

body {
  margin: 0;
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
